<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica | Details</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <script src="/plugins/jquery/jquery.slim.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/details.css" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar',{para1:'Logout', style1:'fas fa-lock',route1:'/logout',route2: '/cart', para2:'Cart', style2:'fas fa-shopping-cart'}) %>

    <div class="container my-4">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-6">
            <h1>Details</h1>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-danger btn-lg mt-3" data-toggle="modal" data-target="#exampleModal">Emergency Stock ⚠</button>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Emergency</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                  </div>
                  <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
                    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                      <div class="toast-header">
                        <img src="..." class="rounded mr-2" alt="..." />
                        <strong class="mr-auto">Bootstrap</strong>
                        <small>11 mins ago</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="toast-body"> Hello, world! This is a toast message. </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="liveToastBtn">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
              <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="..." />
                <strong class="mr-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body"> Hello, world! This is a toast message. </div>
            </div>
          </div>
        </div>
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 d-flex justify-content-center">
              <!-- <div class="product-image">
                <div id="myCarousel-2" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    Slide 1
                    <div class="item active">
                      <img src="https://via.placeholder.com/700x400/FFB6C1/000000" class="img-responsive" alt="" />
                    </div>
                    Slide 2
                    <div class="item">
                      <img src="https://via.placeholder.com/700x400/87CEFA/000000" class="img-responsive" alt="" />
                    </div>
                    Slide 3
                    <div class="item">
                      <img src="https://via.placeholder.com/700x400/B0C4DE/000000" class="img-responsive" alt="" />
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div> -->
              <img
                src="https://i.guim.co.uk/img/media/20491572b80293361199ca2fc95e49dfd85e1f42/0_236_5157_3094/master/5157.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=fc5fad5b6c2b545b7143b9787d0c90b1"
                alt=""
                srcset=""
                width="90%"
                height=""
              />
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
              <h2 class="name mt-sm-4">
                <%= drug_data.id%>
                <small></small>
                <!-- <i class="fa fa-star fa-2x text-primary"></i>
                <i class="fa fa-star fa-2x text-primary"></i>
                <i class="fa fa-star fa-2x text-primary"></i>
                <i class="fa fa-star fa-2x text-primary"></i>
                <i class="fa fa-star fa-2x text-muted"></i> -->
                <!-- <span class="fa fa-2x"><h5>(109) Votes</h5></span>
                <a href="javascript:void(0);">109 customer reviews</a> -->
              </h2>

              <hr />
              <div>
                <p> <%= drug_data.description%> </p>
              </div>
              <hr />
              <!-- <h3 class="price-container">
                Rs 70/-
                <small>*includes tax</small>
              </h3> -->
              <!-- <div class="certified">
                <ul>
                  <li> Delivery time<span> 7 Working Days</span> </li>
                  <li> Certified<span> Quality Assured</span> </li>
                  <li> Delivery time<span> 7 Working Days</span> </li>
                  <li> Certified<span> Quality Assured</span> </li>
                </ul>
              </div> -->

              <!-- <div class="description description-tabs">
                <ul id="myTab" class="nav nav-pills">
                  <li class="active"
                    ><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li
                  >
                  <li class=""><a href="#specifications" data-toggle="tab">Specifications</a></li>
                  <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="more-information">
                    <br />
                    <strong>Description Title</strong>
                    <p>
                      Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque
                      ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum
                      pellentesque augue sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur
                      nec.
                    </p>
                  </div>
                  <div class="tab-pane fade" id="specifications">
                    <br />
                    <dl class="">
                      <dt>Gravina</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dd>Eget lacinia odio sem nec elit.</dd>
                      <br />

                      <dt>Test lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <br />

                      <dt>Altra porta</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper</dd>
                    </dl>
                  </div>
                  <div class="tab-pane fade" id="reviews">
                    <br />
                    <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                      <textarea rows="2" class="form-control" placeholder="Write a review"></textarea>
                      <div class="margin-top-10">
                        <button type="submit" class="btn btn-sm btn-primary pull-right"> Submit Review </button>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-link profile-link-btn"
                          rel="tooltip"
                          data-placement="bottom"
                          title=""
                          data-original-title="Add Location"
                          ><i class="fa fa-location-arrow"></i
                        ></a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-link profile-link-btn"
                          rel="tooltip"
                          data-placement="bottom"
                          title=""
                          data-original-title="Add Voice"
                          ><i class="fa fa-microphone"></i
                        ></a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-link profile-link-btn"
                          rel="tooltip"
                          data-placement="bottom"
                          title=""
                          data-original-title="Add Photo"
                          ><i class="fa fa-camera"></i
                        ></a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-link profile-link-btn"
                          rel="tooltip"
                          data-placement="bottom"
                          title=""
                          data-original-title="Add File"
                          ><i class="fa fa-file"></i
                        ></a>
                      </div>
                    </form>

                    <div class="chat-body no-padding profile-message">
                      <ul>
                        <li class="message">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online" />
                          <span class="message-text">
                            <a href="javascript:void(0);" class="username">
                              Alisha Molly
                              <span class="badge">Purchase Verified</span>
                              <span class="pull-right">
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-muted"></i>
                              </span>
                            </a>
                            Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness
                            very image let unto fowl isn't in blessed fill life yielding above all moved
                          </span>
                          <ul class="list-inline font-xs">
                            <li>
                              <a href="javascript:void(0);" class="text-info"
                                ><i class="fa fa-thumbs-up"></i> This was helpful (22)</a
                              >
                            </li>
                            <li class="pull-right">
                              <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                            </li>
                          </ul>
                        </li>
                        <li class="message">
                          <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="online" />
                          <span class="message-text">
                            <a href="javascript:void(0);" class="username">
                              Aragon Zarko
                              <span class="badge">Purchase Verified</span>
                              <span class="pull-right">
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                                <i class="fa fa-star fa-2x text-primary"></i>
                              </span>
                            </a>
                            Excellent product, love it!
                          </span>
                          <ul class="list-inline font-xs">
                            <li>
                              <a href="javascript:void(0);" class="text-info"
                                ><i class="fa fa-thumbs-up"></i> This was helpful (22)</a
                              >
                            </li>
                            <li class="pull-right">
                              <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <hr /> -->
              <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-12 row" id="current">
                  <span class="col-6 my-auto py-3"><h4> Predicted Sales of Current Month</h4></span>
                  <span class="col-6 my-auto d-flex justify-content-center" id="drugs"><h4> <%=predicted_value%> </h4></span>
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="btn-group pull-right">
                    <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>
                    <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                  </div>
                </div> -->
              </div>
              <div class="mt-5 col-12" id="prediction">
                <form id="predictive_form">
                  <label for="start"><h6>Predict Sales for month: &nbsp;</h6></label>
                  <input type="month" id="start" name="date" value="2018-05" />
                  <button type="submit" class="ml-2 btn btn-dark btn-sm">Submit</button>
                </form>
                <div><h5> Output </h5></div>
              </div>
              <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <strong>Hello!</strong> This is just a prototype for now.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end product -->
      </div>
    </div>
    <script>
      const form = document.getElementById("predictive_form");
      const obj = {};

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        let formData = new FormData(form);

        obj.date = formData.get("date");

        console.log(obj);

        axios.post("/:id/details", obj).then(function (response) {
          console.log(response);
        });
      });
    </script>
  </body>
</html>
